.App {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.appFooter {
  position: fixed;
  bottom: 18px;
  width: 100%;
  text-align: center;

  font-size: 13px;
  color: #8a7a82;

  text-decoration: underline;
  cursor: default;
}